In [10]:
# Dependencies and Setup
# SQL Alchemy, Pandas, Matplotlib, NumpY
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import psycopg2

In [11]:
# Create Engine and Setup to Connect to Database 
conn = psycopg2.connect("dbname=EmployeeSQL user=postgres password=Soccermania8 host=localhost")

In [13]:
cur = conn.cursor()

In [14]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries

DatabaseError: Execution failed on sql 'SELECT * FROM salaries': relation "salaries" does not exist
LINE 1: SELECT * FROM salaries
                      ^